
        <!-- Footer -->  
        <footer class="footer">
          <!-- Header items--mobile -->
        <div class="header__items--mobile ">
          <div class="grid">
            <div class="header__items--mobile_list">
            <div class="item--mobile mobile-active">
               <a href="##" class="item--mobile_link link--active " >
                <i class="fa-solid fa-thumbs-up"></i>
                <p>Gợi Ý Hôm Nay</p>
              </a>

                <a  href="##"  class="item--mobile_link ">
              <i class="fa-solid fa-house" ></i>
                <p>Home</p>
              </a>
              
            </div>

              <div class="item--mobile"><a href="" class="item--mobile_link"><i id="like" class="fa-solid fa-envelope"></i></a>Mail</div>

              <div class="item--mobile"><a href="" class="item--mobile_link"><i class="fa-solid fa-video"></i></a>Live</div>

              <div class="item--mobile"><a href="##" class="item--mobile_link"><i class="fa-solid fa-bell"></i></a>Thông Báo</div>

              <div class="item--mobile  click-mobile">
                <a href="##" class="item--mobile_link">
                  <i class="fa-solid fa-user"></i>
                </a>Tôi
              </div>

            </div>
            <!-- <div class="wrapper">
              <div class="navbar">
                  <div class="navbar__item -blue">
                      <span class="navbar__icon">
                          <i class="fa-solid fa-house"></i>
                      </span>
                  </div>
                  <div class="navbar__item -orange">
                      <span class="navbar__icon">
                        <i class="fa-solid fa-envelope"></i>
                      </span>
                  </div>
                  <div class="navbar__item -navy-blue">
                      <span class="navbar__icon">
                        <i class="fa-solid fa-video"></i>
                      </span>
                  </div>
                  <div class="navbar__item -yellow">
                      <span class="navbar__icon">
                        <i class="fa-solid fa-bell"></i>
                      </span>
                  </div>
                  <div class="navbar__item -purple click-mobile">
                      <span class="navbar__icon">
                          <i class="fa-solid fa-user"></i>  
                      </span>
                  </div>
              </div>
          </div> -->
          </div>
        </div>

          <div class="grid wide footer__content_mobile">
            <div class="row">
              <div class="col l-2-4 m-5 c-6">
                <!-- Column1 -->
                <h3 class="footer_heading">Chăm Sóc Khách Hàng</h3>
                <ul class="footer__list">
                  <li class="footer__list_item">
                    <a href="" class="footer__list_item--link"
                      >Trung Tâm Trợ Giúp
                    </a>
                  </li>
                  <li class="footer__list_item">
                    <a href="" class="footer__list_item--link">Gin Blog</a>
                  </li>
                  <li class="footer__list_item"> 
                    <a href="" class="footer__list_item--link">Gin Mall</a>
                  </li>
                  <li class="footer__list_item"> <a href="" class="footer__list_item--link"
                    >Hướng Dẫn Mua Hàng
                  </a></li>   
                    <li class="footer__list_item"> <a href="" class="footer__list_item--link"
                      >Hướng Dẫn Bán Hàng
                    </a></li>
                    <li class="footer__list_item"><a href="" class="footer__list_item--link">Thanh Toán</a></li>                  
                    <!-- <li class="footer__list_item"><a href="" class="footer__list_item--link">Shopee Xu</a></li>                   -->
                    <li class="footer__list_item"> <a href="" class="footer__list_item--link">Vận Chuyển</a></li>  
                    <li class="footer__list_item">   <a href="" class="footer__list_item--link">Trả Hàng & Hoàn Tiền
                    </a></li>               
                    <li class="footer__list_item"><a href="" class="footer__list_item--link">Chăm Sóc Khách Hàng
                    </a></li>                
                    <li class="footer__list_item"><a href="" class="footer__list_item--link">Chính Sách Bảo Hành
                    </a></li>                 
                </ul>
              </div>
              <!-- Column2 -->
              <div class="col l-2-4 m-5 c-6">
                <h3 class="footer_heading">Về Shopee</h3>
                <ul class="footer__list">
                  <li class="footer__list_item">
                    <a href="" class="footer__list_item--link"
                      >Giới Thiệu Về Gin
                    </a>
                  </li>
                  <li class="footer__list_item"></li>
                    <a href="" class="footer__list_item--link">Tuyển Dụng</a>
                    <li class="footer__list_item"></li>
                    <a href="" class="footer__list_item--link"
                      >Điều Khoản Gin</a>
                    <li class="footer__list_item">   <a href="" class="footer__list_item--link" >Chính Sách Bảo Mật
                    </a></li>               
                    <li class="footer__list_item"> <a href="" class="footer__list_item--link">Chính Hãng </a></li>                 
                    <li class="footer__list_item"> <a href="" class="footer__list_item--link">Kênh Người Bán </a></li>                 
                    <li class="footer__list_item"> <a href="" class="footer__list_item--link">Flash Sales</a></li>               
                    <li class="footer__list_item"> <a href="" class="footer__list_item--link"
                      >Chương Trình Tiếp Thị Liên Kết Gin</a
                    ></li>
                    <li class="footer__list_item"><a href="" class="footer__list_item--link"
                      >Liên Hệ Với Truyền Thông
                    </a></li>
                </ul>
              </div>
              <!-- Column3 -->
                <div class="col l-6 m-10 c-10">
                  <!-- Column3.1 -->
                  <h3 class="footer_heading">Thanh Toán</h3>
                  <ul class="footer__list_pay ">
                    <li class="footer__list_pay--item"> <a href="" class="footer__list_pay--item-link">
                        <img src="./assets/img/img_logo_transaction/logo_visa.png" alt="logo">
                      </a></li>
                    <li class="footer__list_pay--item"><a href="" class="footer__list_pay--item-link"> <img src="./assets/img/img_logo_transaction/logo_logarit.png" alt="logo"></a></li>
                    <li class="footer__list_pay--item"><a href="" class="footer__list_pay--item-link"><img src="./assets/img/img_logo_transaction/logo_jcb.png" alt="logo"></a></li>
                    <li class="footer__list_pay--item"><a href="" class="footer__list_pay--item-link"><img src="./assets/img/img_logo_transaction/logo_american--exp.png" alt="logo">
                    </a></li>
                    <li class="footer__list_pay--item"><a href="" class="footer__list_pay--item-link"> <img src="./assets/img/img_logo_transaction/logo_cod.png" alt="logo">
                    </a></li>
                    <li class="footer__list_pay--item"> <a href="" class="footer__list_pay--item-link"> <img src="./assets/img/img_logo_transaction/logo_gop.png" alt="logo"></a></li>
                    <li class="footer__list_pay--item"> <a href="" class="footer__list_pay--item-link"> <img src="./assets/img/img_logo_transaction/logo_spay.png" alt="logo"></a></li>
                    <li class="footer__list_pay--item"> <a href="" class="footer__list_pay--item-link"> <img src="./assets/img/img_logo_transaction/logo_spaylater.png" alt="logo"></a></li>
                  </ul>
                  <!--Column3.2 -->
                  <h3 class="footer_heading">Vận Chuyển</h3>
                  <ul class="footer__list_transport ">
                    <li class="footer__list_transport--item">
                      <a href="" class="footer__list_transport--item-link"><img src="./assets/img/img_logo_transport/logo_spexp.png" alt="logo"></a>
                    </li>
                    <li class="footer__list_transport--item"><a href="" class="footer__list_transport--item-link"> <img src="./assets/img/img_logo_transport/logo_ghtk.png" alt="logo"></a></li>
                    <li class="footer__list_transport--item"> <a href="" class="footer__list_transport--item-link"><img src="./assets/img/img_logo_transport/logo_ghn.jpg" alt="logo"></a></li>
                    <li class="footer__list_transport--item"><a href="" class="footer__list_transport--item-link"
                      > <img src="./assets/img/img_logo_transport/logo_vtp.png" alt="logo">
                    </a></li>
                    <li class="footer__list_transport--item"><a href="" class="footer__list_transport--item-link"
                      > <img src="./assets/img/img_logo_transport/logo_vnp.png" alt="logo">
                    </a></li>
                    <li class="footer__list_transport--item"><a href="" class="footer__list_transport--item-link"> <img src="./assets/img/img_logo_transport/logo_j&texp.png" alt="logo"></a></li>
                    <li class="footer__list_transport--item"><a href="" class="footer__list_transport--item-link"> <img src="./assets/img/img_logo_transport/logo_grabexp.png" alt="logo"></a></li>
                    <li class="footer__list_transport--item"> <a href="" class="footer__list_transport--item-link"> <img src="./assets/img/img_logo_transport/logo_nijav.png" alt="logo"></a></li>
                    <li class="footer__list_transport--item"> <a href="" class="footer__list_transport--item-link"> <img src="./assets/img/img_logo_transport/logo_bestexp.png" alt="logo"></a></li>
                    <li class="footer__list_transport--item"><a href="" class="footer__list_transport--item-link"> <img src="./assets/img/img_logo_transport/logo_be.png" alt="logo"></a></li> 
                  </ul>
                </div>
              <!-- </div> -->
              <!-- Column4 -->
              <div class="col l-2-4 m-5 c-5">
                <h3 class="footer_heading">Theo Dõi Chúng Tôi</h3>
                <ul class="footer__list">
                  <li class="footer__list_item">
                    <a href="https://www.facebook.com/gin.tuan.072/" class="footer__list_item--link">
                      <i class="footer__list_item--icon fa-brands fa-square-facebook">

                      </i>Facebook
                    </a>
                  </li>
                  <li class="footer__list_item">
                    <a href="https://github.com/TuanGinNe" class="footer__list_item--link">
                    <i class="footer__list_item--icon fa-brands fa-github">

                    </i>GitHub
                  </a> 
                  </li>
                      <li class="footer__list_item"><a href="https://www.linkedin.com/in/t%E1%BB%AB-qu%E1%BB%91c-tu%E1%BA%A5n-0a42b6218/" class="footer__list_item--link"><i class="footer__list_item--icon fa-brands fa-linkedin"></i> LinkedIn</a></li>                
                </ul>
              </div>
              <!-- Column5 -->
              <div class="col l-2-4 m-7 c-7">
                <h3 class="footer_heading">Tải Ứng Dụng Shopee Ngay Thôi</h3>
                <div class="footer__download">
                  <img src="./assets/img/qr_fb.jpg" alt="Download QR" class="footer__download_qr">
                  <div class="footer__download_apps">
                <a href="" class="download__apps_link">
                  <img src="./assets/img/gg_store.png" alt="Google Play" class="download__apps_img">
                </a>
                  <a href="" class="download__apps_link">
                  <img src="./assets/img/app_store.png" alt="App Store" class="download__apps_img">
                </a>
                  </div>
                </div>
              </div>
            </div>
                        <!-- Footer Bottom1 -->
              <div class="footer__bottom_list1_items">
                <div class="footer__bottom_list1_items--permission">
                  <p>© 2022 GinT. Tất cả các quyền được bảo lưu.</p>
                </div>
                <!-- Quốc Gia -->
                <div class="footer__bottom_list1_items--country">
                  <!-- Quốc Gia và Khu Vực-->
                  <div class="footer__bottom_list1_items--country-area">
                    <div class="footer__bottom_list1_items--country-area1">
                      <p>Quốc Gia Và Khu Vực :</p>
                    </div>
                  </div>
                  <!-- Quốc Gia List -->
                  <div class="footer__bottom_list1_items--country-list">
                    <div class="footer__bottom_list1_items--country-real">
                      <a href="" class="footer__bottom_list1_items--country-real_1">Việt Nam</a>
                    </div>
                    <div class="footer__bottom_list1_items--country-real">
                      <a href="" class="footer__bottom_list1_items--country-real_1">Singapore</a>
                    </div>
                    <div class="footer__bottom_list1_items--country-real">
                      <a href="" class="footer__bottom_list1_items--country-real_1">Indonesia</a>
                    </div>
                    <div class="footer__bottom_list1_items--country-real">
                      <a href="" class="footer__bottom_list1_items--country-real_1">Đài Loan</a>
                    </div>
                    <div class="footer__bottom_list1_items--country-real">
                      <a href="" class="footer__bottom_list1_items--country-real_1">Thái Lan</a>
                    </div>
                    <div class="footer__bottom_list1_items--country-real">
                      <a href="" class="footer__bottom_list1_items--country-real_1">Malaysia</a>
                    </div>
                    <div class="footer__bottom_list1_items--country-real">
                      <a href="" class="footer__bottom_list1_items--country-real_1">Philippin</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- Footer Bottom2 -->
          <div class="footer__bottom">
            <div class="grid wide">
              <div class="footer__bottom_list">
                <!-- Firt Footer -->
                <ul class="footer__bottom_list--items">
                  <li class="footer__bottom_list--items-link">
                    <a href="" class="footer__bottom_list--items-link_1">Chính Sách Bảo Mật</a>
                  </li>
                  <li class="footer__bottom_list--items-link">
                    <a href="" class="footer__bottom_list--items-link_1">Quy Chế Hoạt Động</a>
                  </li>
                  <li class="footer__bottom_list--items-link">
                    <a href="" class="footer__bottom_list--items-link_1">Chính Sách Vận Chuyển</a>
                  </li>
                  <li class="footer__bottom_list--items-link">
                    <a href="" class="footer__bottom_list--items-link_1">Chính Sách Trả Hàng Và Hoàn Tiền</a>
                  </li>
                </ul>
              </div>
              <!-- Second Footer -->
              <!-- <div class="footer__bottom_logo">
              </div> -->
              <!-- Third Footer -->
              <div class="footer__company"> <p class="footer__company_text">Công ty TNHH GIN Entertainment</p></div>
              <p class="footer__text">Địa chỉ:  - Email: tuquoctuan071102@gmail.com.</p>
              <p class="footer__text">©Chịu Trách Nhiệm Quản Lý Nội Dung: Từ Quốc Tuấn - Điện thoại liên hệ: Chưa Có</p>
              <!-- <p class="footer__text">Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 10/02/2015</p> -->
              <p class="footer__text">© 2022 - Bản quyền thuộc về ShoppeVN - Mượn Thiết Kế Từ Quốc Tuấn</p>
            </div>
          </div>
        </footer>