<!-- Header -->
        <header class="header">
          <div class="grid wide">            
            <nav class="navbar hide-on-mobile-tablet">
              <!-- ul right -->
              <ul class="navbar__list">
                <li
                  class="navbar--items navbar--items-has-qr navbar--items-seperate">
                  Kênh Người Bán
                </li>
                <li class="navbar--items navbar--items-seperate">
                  Người bán Shopee
                </li>
                <li class="navbar--items navbar--items-has-qr navbar--items-seperate">
                  Tải ứng dụng
                  <div class="navbar__QR">
                    <div class="qr_lenh">
                    </div>
                    <img src="/BackEnd/src/public/img/qr_fb.jpg" alt="QR Code" class="qr-img">
                    <div class="qr__apps">
                      <a href="" class="qr__link">
                        <img
                          src="/BackEnd/src/public/img/gg_store.png"
                          alt="Google Play"
                          class="qr__dowload--img"
                        />
                      </a>
                      <a href="" class="qr__link">
                        <img
                          src="/BackEnd/src/public/img/app_store.png"
                          alt="App Store"
                          class="qr__dowload--img"
                        />
                      </a>
                    </div>
                  </div>
                </li>
                <li class="navbar--items">
                  <span class="navbar--title-no-poiter">Kết Nối</span>
                  <a
                    href="https://www.facebook.com/gin.tuan.072"
                    class="navbar--icon-link"
                    ><i class="navbar--icon fa-brands fa-facebook"></i
                  ></a>
                  <a href="https://github.com/TuanGinNe" class="navbar--icon-link"
                    ><i class="navbar--icon fa-brands fa-github"></i
                  ></a>
                </li>
              </ul>
              <!-- ul left -->
              <ul class="navbar__list">

                <li class="navbar--items navbar--items-half-notify">
                  <a href="##" class="navbar--items-link">
                    <i class="navbar--icon fa-solid fa-bell"></i>Thông Báo</a>
                  <!-- Information -->
                  <div class="navbar__notify">

                    <header class="notify__header submit-logged">
                            <!-- đã đăng nhập -->
                      <h3>Thông Báo Mới Nhận!!!</h3>

                    <ul class="notify__list">            
                      <li class="notify__list--items notify__list--items-viewed">
                        <a href="" class="notify--link">
                          <img width="invalid-value" height="invalid-value" alt="Loa bluetooth mini không dây nghe nhạc, cắm usb thẻ nhớ đa năng có đèn led chính hãng - MINPRO"   class="notify--img" style="object-fit: contain" src="https://cf.shopee.vn/file/6cbf33b1074174ec070c722bf29f81c5_tn">
                          <div class="notify--info">
                            <span class="notify--name">VOUCHER GIẢM ĐẾN 20K SẮP HẾT</span>
                            <span class="notify--information"
                              ><i class="fa-solid fa-hand-point-right"></i>
                              Số Lượng có Hạn - Chớp Ngay Kẻo Hết</span>
                          </div>
                        </a>
                        </li>
                    </ul>
                    <footer class="notify__footer">
                      <a href="" class="notify__footer--btn">Xem Tất Cả</a>
                    </footer>
                    </header>
                      
                    <!-- chưa đăng nhập -->
                    <div class="un-logged unsubmit-logged">
                      <ul class="notify__list_noinformation">            
                        <div class="list-noinformation">
                          <img src="/BackEnd/src/public/img/logoSp/img_information.png" alt="">
                          <p>Đăng nhập để nhận thông báo</p>
                        </div>
                        </ul>
                        <footer class="notify__footer-no">
                          <a class="notify__footer--btn-no notify__login">Đăng nhập</a>
                          <a class="notify__footer--btn-no notify__register">Đăng ký</a>
                        </footer>
                    </div>
                    
                 
                  </div>
                  
                </li>

                <li class="navbar--items">
                  <a href="https://help.shopee.vn/portal" class="navbar--items-link">
                    <i class="navbar--icon fa-regular fa-circle-question"></i> Trợ
                    Giúp</a
                  >
                </li>

                <li class="navbar--items item-language">
                  <a href="" class="navbar--items-link language-vn">
                    <i class="navbar--icon fa-solid fa-globe"></i> Tiếng Việt
                    </a>

                    <a href=""  class="navbar--items-link language-el" >
                      <i class="navbar--icon fa-solid fa-globe"></i> Tiếng Anh
                      </a>
                    <div class="language">
                      <p class="p-vn">Tiếng Việt</p>
                      <p class="p-el">Tiếng Anh</p>
                    </div>
                </li>

                  <div class="base-modal_register__login user-no-submit">
                    <li
                    class="navbar--items navbar--items-seperate navbar--items-bold register">
                    Đăng Ký
                  </li>
                  <li class="navbar--items navbar--items-bold login" >Đăng Nhập</li>
                  </div>
              

                <!-- User Đăng Nhập & Đăng ký -->
                  <div class="user-submit">
                    <li class="navbar--item navbar--user">
                      <img
                        src="/BackEnd/src/public/img/userLogo.png"
                        alt="user"
                        class="navbar--user-avatar"
                      />
                      <span class="navbar--user-name">Tu Quoc Tuan</span>
      
                      <ul class="navbar--user-menu">
                        <li class="navbar--user-menu-item">
                          <a href="">Tài Khoản Của Tôi</a>
                        </li>
                        <li class="navbar--user-menu-item">
                          <a href="">Địa Chỉ Của Tôi</a>
                        </li>
                        <li class="navbar--user-menu-item">
                          <a href="">Đơn Mua</a>
                        </li>
                        <li
                          class="navbar--user-menu-item navbar--user-menu-item-separate"
                        >
                          <a href="##" class="exit-user">Đăng Xuất</a>
                        </li>
                      </ul>
                    </li>
                  </div>
            
              </ul>     
            </nav>

            <!--Hearder with Search -->
            <div class="header__with_search ">

              <div class="header_logo--link hide-on-tablet hide-on-mobile">
                <a href="#" class="">
                  <img
                    class="header_logo-img"
                    src="/BackEnd/src/public/img/logoSp/shopee_logo.png"
                    alt=""
                  />
                </a>
              </div>
            
              <div class="header_search">
                <div class="header_search--input-wrap">
                  <input 
                    type="text"
                    id="search-input"
                    value=""
                    class="header_search--input"
                    placeholder="Bạn muốn tìm gì?"
                  />
                  <div class="header_search-history">
                    <h3 class="header_search-history-heading">
                      Lịch Sử Tìm Kiếm
                    </h3>
                    <ul class="header_search-history-list">
                      <li class="header_search-history-items" id="newItems">
                        <a href="">Thời Trang</a>
                        <a href="">Công Nghệ</a>
                      </li>
 
                    </ul>
                  </div>
                  
                </div>
                <div class="header_search--select">
                  <span class="header_search--select-lable in-shops"> Trong Shop
                    <i
                    class="fa-solid fa-chevron-down header_search--select-icon "
                  ></i>

                  </span>

                  <span class="header_search--select-lable outside-shops"> Ngoài Shop 
                    <i
                    class="fa-solid fa-chevron-down header_search--select-icon "
                  ></i>
                  </span>
                  

                  <ul class="header_search--option">
                    <li
                      class="header_search--option-item show-i in-shop"
                    >
                      <span>Trong Shop</span>
                      <i class="fa-solid fa-check i-inshop "></i>
                    </li>
                    <li class="header_search--option-item outside-shop">
                      <span>Ngoài Shop</span>
                      <i class="fa-solid fa-check i-outsideshop"></i>
                    </li>
                  </ul>
                </div>
                <button class="header_search--btn" id="btn-focus">
                  <i
                    class="header_search--btn-icon fa-solid fa-magnifying-glass"
                  ></i>
                </button>
              </div>

              <!-- Cart Layout -->
              <div class="header_cart">
                <div class="header_cart--wrap">
                  <i class="cart--icon fa-solid fa-cart-shopping"></i>
                  <span class="header_cart--notice"></span>
                  <!-- No cart: cart--list-nomoney -->
                  <div class="cart--list ">

                    <div class="cart--item no-cart">
                      <img
                      src="/BackEnd/src/public/img/no_cart.png"
                      alt=""
                      class="cart--nomoney-img"
                    />
                    <!-- <span class="cart--list-nomoney-mag"> Chưa Có Sản Phẩm </span> -->
                    </div>
                  
                   

                    <!-- The cart: cart--list-nomoney -->
                  
                    <ul class="cart--list-item money-cart">
                      <h4 class="header_cart--heading">Sản Phẩm Đã Thêm</h4>

                      <li class="cart--item">
                        <img width="invalid-value" height="invalid-value" alt="Loa bluetooth mini không dây nghe nhạc, cắm usb thẻ nhớ đa năng có đèn led chính hãng - MINPRO"  class="cart--item-img"style="object-fit: contain" src="https://cf.shopee.vn/file/6cbf33b1074174ec070c722bf29f81c5_tn">
                        <div class="cart--item-info">
                          <div class="cart--item-head">
                            <h5 class="cart--item-name"> Loa bluetooth mini không dây nghe nhạc, cắm usb thẻ nhớ đa năng có đèn led chính hãng - MINPRO</h5>
                            <div class="cart--item-price-wrap">
                              <span class="cart--item-price">73.000</span>
                              <span class="cart--item-mutify">x</span>
                              <span class="cart--item-quantify">1</span>
                            </div>
                          </div>
                          <div class="cart--item-body">
                            <span class="cart--item-decscription"
                              >Phân Loại Bạc</span
                            >
                            <span class="cart--item-remove">Xóa</span>
                          </div>
                        </div>
                      </li>  
                      <a href="#" class="cart--view-cart btn btn--primary">
                        Xem Giỏ Hàng
                      </a>
                    </ul>
                 
                  </div>
                </div>
              </div>
              <!-- submit-tablet -->
              <div class="tablet-regiseter-login tablet-no-submit">
                <div class="base-modal_register__login user-no-submit">
                  <li
                  class="navbar--items navbar--items-seperate navbar--items-bold tablet-register">
                  Đăng Ký
                </li>
                <li class="navbar--items navbar--items-bold tablet-login" >Đăng Nhập</li>
                </div>
              </div>

                 <!-- User Đăng Nhập & Đăng ký Tablet -->
                 <div class="tablet-user-submit tablet-user-submit">
                  <li class="navbar--item navbar--user">
                    <img
                      src="/BackEnd/src/public/img/userLogo.png"
                      alt="user"
                      class="navbar--user-avatar"
                    />
                    <span class="navbar--user-name">Tu Quoc Tuan</span>
    
                    <ul class="navbar--user-menu">
                      <li class="navbar--user-menu-item">
                        <a href="">Tài Khoản Của Tôi</a>
                      </li>
                      <li class="navbar--user-menu-item">
                        <a href="">Địa Chỉ Của Tôi</a>
                      </li>
                      <li class="navbar--user-menu-item">
                        <a href="">Đơn Mua</a>
                      </li>
                      <li
                        class="navbar--user-menu-item navbar--user-menu-item-separate"
                      >
                        <a href="##" class="tablet-exit-user">Đăng Xuất</a>
                      </li>
                    </ul>
                  </li>
                </div>
                 <!-- User Đăng Nhập & Đăng ký Mobile -->
                 <div class="mobile-user-submit ">
                  <li class="navbar--item navbar--user">
                    <img
                      src="/BackEnd/src/public/img/userLogo.png"
                      alt="user"
                      class="navbar--user-avatar"
                    />
                    <!-- <span class="navbar--user-name">Tu Quoc Tuan</span>
     -->
                    <ul class="navbar--user-menu">
                      <li class="navbar--user-menu-item">
                        <a href="">Tài Khoản Của Tôi</a>
                      </li>
                      <li class="navbar--user-menu-item">
                        <a href="">Địa Chỉ Của Tôi</a>
                      </li>
                      <li class="navbar--user-menu-item">
                        <a href="">Đơn Mua</a>
                      </li>
                      <li
                        class="navbar--user-menu-item navbar--user-menu-item-separate"
                      >
                        <a href="##" class="mobile-exit-user">Đăng Xuất</a>
                      </li>
                    </ul>
                  </li>
                </div>

            </div>
          </div>  
            
        
          <!--Hearder with Search Mobile-->
          <ul class="header__sort_bar">
            <li class="sort__bar_item">
              <a href="" class="sort__bar_item--link">Liên Quan</a>
            </li>
            <li class="sort__bar_item sort__bar_item--active">
              <a href="" class="sort__bar_item--link">Mới Nhất</a>
            </li>
            <li class="sort__bar_item">
              <a href="" class="sort__bar_item--link">Bán Chạy</a>
            </li>
            <li class="sort__bar_item">
      <a href="" class="sort__bar_item--link">Giá</a>
            </li>
          </ul>
        </header>